/* Dashboard.css */
.dashboard-link {
    text-decoration: none; /* Remove underlines from links */
  }
  
  .dashboard-card {
    cursor: pointer;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    border: none;
  
    &:hover {
      transform: scale(1.05);
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    }
  
    &:active {
      transform: scale(0.95);
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }
  }

  

  @keyframes changeBackgroundColor {
    0% {
      background-color: #d5c7e9; /* Soft color 1 */
    }
    14.29% {
      background-color: #a5d7e8; /* Soft color 2 */
    }
    28.57% {
      background-color: #efd4ba; /* Soft color 3 */
    }
    42.86% {
      background-color: rgb(172, 241, 196); /* Soft color 4 */
    }
    57.14% {
      background-color: #f3a7a7; /* Soft color 5 */
    }
    71.43% {
      background-color: #e9e4f0; /* Soft color 6 */
    }
    85.71% {
      background-color: #dbece1; /* Soft color 7 */
    }
    100% {
      background-color: #e0d8eb; /* Repeat the first color to create a seamless loop */
    }
  }
  
  body {
    animation: changeBackgroundColor 20s infinite;
    transition: background-color 1s ease-in-out; /* Smooth transition between colors */
  }
  .cv{
    width:100%;
  }
  .box1 {

    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
  
    /* Optional: Add some padding and center text */
    padding: 20px;
    text-align: center;
  }
  
  /* Add hover effect for a subtle change when hovered */
  .box1:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  